@import url('../public/fonts/clash-display/Fonts/WEB/css/clash-display.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-body: #555;
  --detail-high-contrast: #dddddd;

  --scrollbar-bg: #dddddd;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: #555;
}

.dark {
  --scrollbar-bg: #333;
  --scrollbar-thumb: #555;
  --scrollbar-thumb-hover: #888;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: var(--background-image);
  overflow: auto;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
  border-radius: 4px;
}

.word-overflow-break {
  word-break: break-word;
  overflow-wrap: break-word;
}
